
<html>

<h2 style="color: #B00100;padding-left: 700px;font-size: 50px">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <body  >

  <style>
    .btn {
      font-size: 50px;}


  </style>


  <div class="form-inputs" id="body" style=" padding-right: 100px;width:50px;font-size: 20px;padding-left: 700px">
    <%= f.input :email,
                label: "Email:",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %><br>

    <%= f.input :password,
                label: "Password:",
                required: false,
                input_html: { autocomplete: "current-password" } %><br>

    <p style="font-size: 5px;">
    <%= f.input :remember_me ,
                as: :boolean if devise_mapping.rememberable? %><br>
    </p>
  </div>

  <div class="form-actions" style="padding-left: 700px">
    <%= f.button :submit, "Log in"  %>
  </div>
<% end %>


<p style="padding-top: 30px;padding-left: 700px"> <%= render "devise/shared/links" %></p>

</body>
</html>