<html>
<body>
<%= simple_form_for @post do |f| %>

  <div class="form-inputs" style=" padding-right: 200px;width:200px;padding: 5px;font-size: 20px;font-size: 20px;padding-left: 700px">
<%=f.input  :image%><br>
<%= f.input :title %><br>
<%= f.input :description %><br>


    <%= f.button :submit %>
  </div>
<%end %>
</body>
</html>